body {
    padding: 0px !important;
    margin: 0px !important;
}

@keyframes slidein {
    from {
        background-position: top;
        background-size: 1000px;
    }

    to {
        background-position: -100px 0px;
        background-size: 2750px;
    }

}


#mainCanvas {
    background-image: url('/images/bg.jpg');
    background-size: cover;
    animation: slidein 100s forwards infinite alternate;
}

.score {
    font-size: 20px;
    background-color: black;
    color: white;
    text-align: center;
}

.instruction {
    color: white;
    text-align: center;
}