body {
    background-color: black;
    margin: 0px!important;
    padding: 0px!important;
}

#mainCanvas {
    background-color: antiquewhite;
    
}

.score {
    background-color: dimgray;
    text-align: center;
}